.design
  &-title
    &__description
      font-size: 1.42rem
  &__heading
    font-size: 1.45rem
  &__section-title
    margin-bottom: 2.78rem
    &__description
      max-width: 740px
  &__pricetag
    padding: 1.2rem 4.1rem
    font-size: 1.2rem

.section
  &-title
    &__heading
      &--primary
        font-size: 1.75rem
        line-height: 1.4
    &__description
      max-width: 52.6rem
      margin-top: 1rem
      margin-bottom: 3.3rem
  .card
    &__text
      padding-top: 1.7rem
    

