.footer
  background: $dark url('../img/footer-bg.jpg') no-repeat center / cover
  padding-top: 3rem
  &__wrap
    margin: auto
    margin-top: -20rem
    margin-bottom: 3.714rem
    background: $dark url(../img/footer__b-lines.svg) no-repeat center 
    max-width: 63.07rem
    min-height: 31.78rem
    padding: 2.5rem
  &__title
    margin-top: 0
    margin-bottom: 3.214rem
    font-family: 'Yeseva One', cursive
    font-size: 1.428rem
    line-height: 28px
    text-align: center
    text-transform: uppercase
    color: $light
    font-style: normal
    font-weight: normal
  &__form
    display: flex
    justify-content: space-between
    flex-wrap: wrap
    margin: auto
    max-width: 37.142rem
  &__input
    padding-top: 0.3rem
    &-group
      display: flex
      flex-direction: column
      flex-basis: 45%
      margin-bottom: 3.2rem
      &--full-width
        flex-basis: 100%
        margin-bottom: 2rem
  &__text
    margin: auto
    margin-bottom: 1.342rem
    text-align: center
    max-width: 39rem
    font-family: 'Yeseva One', cursive
    font-style: normal
    font-weight: normal
    font-size: 1.428rem
    line-height: 2rem
    text-align: center
    text-transform: uppercase
    color: $primary
  &__icons
    display: flex
    justify-content: center
  &__icon
    display: flex
    margin: 0 0.5rem
    margin-bottom: 2.5rem
    justify-content: center
    align-items: center
    height: 2rem
    width: 2rem
    border-radius: 1rem
    background-color: $primary
    &:hover
      box-shadow: 0 0 50px rgba($primary,0.5)
  &__content
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
  &__map
    background: url('../img/map.png')
    margin: auto
    width: 920px
    margin-bottom: 4rem
    height: 450px

      
  &__policy
    flex-basis: 100%
    margin-bottom: 3.6rem
  &__button
    margin: auto
    font-size: 1.1rem
    padding: 1.214rem 4.357rem
  &__menu
    background-color: $dark
    padding: 4.285rem 0
  &__links
    height: 13px
